.main {
  padding: var(--spacing-xl) 0;
  gap: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  &__title {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
  }

  &__dates {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xmd);
    color: var(--color-text-secondary);
  }

  &__date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md) var(--spacing-lg);
    background-color: var(--color-sidebar);
    border-radius: var(--spacing-sm);
  }

  &__date-text {
    font-size: var(--font-size-side-text1);
    font-weight: var(--font-weight-semi-bold);
  }
}
//----------------cards--------------
.statistics-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xl);

  &__card {
    padding: var(--spacing-xl);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--spacing-md);
    gap: 2.3rem;
    background-color: var(--color-sidebar);
    flex: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
  &__numbers {
    font-weight: var(--font-weight-bolder);
    font-size: 2.2rem;
    color: var(--color-text-third);
  }

  &__type {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-side-text1);
    color: var(--color-text-secondary);
  }
}

//----------------recent orders-------------

.recent-orders {
  background-color: var(--color-sidebar);
  padding: 2.5rem;
  border-radius: var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: rgba(3, 2, 41, 0.7);
    font-weight: var(--font-weight-bold);
    font-size: 1.8rem;
  }

  &__more {
    border: none;
    outline: none;
    background: none;
    color: rgba(3, 2, 41, 0.3);
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  &__th {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-side-text2);
    color: var(--color-text);
    text-align: left;
    padding: 1.6rem 2.5rem;

    svg {
      display: inline;
      vertical-align: middle;
      margin-left: var(--spacing-md);
    }
  }

  &__td {
    padding: 1.6rem 2.5rem;
    text-align: left;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-side-text2);
    color: var(--color-text);
  }

  &__product {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
  }

  &__product-img {
    max-width: 100%;
  }

  &__badge {
    display: inline-block;
    padding: 0.7rem 2rem;
    background-color: rgba(38, 192, 226, 0.1);
    color: rgba(38, 192, 226, 1);
    border-radius: 0.8rem;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-side-text2);
  }

  &__head {
    border-bottom: 0.1rem solid rgba(3, 2, 41, 0.05);
  }

  .recent-orders__th:last-child,
  .recent-orders__td:last-child {
    text-align: right;
  }
}
