.main {
  padding: var(--spacing-xl) 0;
  gap: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.card-refrance__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-refrance__title {
  color: rgba(3, 2, 41, 0.7);
  font-weight: var(--font-weight-bold);
  font-size: 1.8rem;
}

.card-refrance__more {
  border: none;
  outline: none;
  background: none;
  color: rgba(3, 2, 41, 0.3);
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
}
